$cat-font-path: '../../assets/fonts';
@import "@haiilo/catalyst/dist/catalyst/scss";
@import '@haiilo/catalyst/dist/catalyst/scss/variables';

html,
body {
    height: 100%;

    .posts-container {
        max-width: 600px;
        margin: 0 auto;

        .post-image {
            object-fit: cover;
        }

        .input-comment {

            @media screen and (min-width: 600px) {
                min-width: 75%;

            }
        }
    }
}